/* Fichier à placer dans assets/sidebar.css */

/* Styles pour la transition de la sidebar */
#sidebar {
    transition: transform 0.3s ease;
}

/* Styles pour la transition du spacer */
#spacer-col {
    transition: width 0.3s ease;
}

/* S'assurer que le contenu principal s'adapte correctement */
#content-col {
    transition: all 0.3s ease !important;
    
    
}


/* Amélioration du style du bouton burger */
/* [id="burger-button"] {
    cursor: pointer;
} */

/* Éviter les débordements */
body {
    overflow-x: hidden;
}

.nav-links {
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 15px 20px;
    justify-content: end; /* Pousse le menu à droite */
    margin-top: auto;
}



.nav-links .nav-link {
    color:#285939 !important;
    text-decoration: none;
    font-weight: 500 !important;
    position: relative;
    transition: color 0.3s ease;
    padding-bottom: 1rem; /* Espace pour l'underline */
}

.nav-links .nav-link:hover {
    color: #285939 !important;    
}

/* Soulignement uniquement pour le lien actif */
.nav-links .nav-link.active::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px !important;
    background: #285939 !important;
    bottom: 0px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-links .nav-link:hover::after {
    width: 100%;
}

.nav-links .nav-link.active::after {
    width: 100%;
}
